<div class="candidate_<%= category.downcase %>">

  <h3>
    <%= category %>
  </h3>


 
  <% candidate.statements.where(category: category.downcase ).each_with_index do |statement| %>
    <% if statement.created_at == statement.updated_at %>
      <p>This statement has not been filled out.</p>
    <% else %>
      <p><%=  statement.content %></p>
    <% end %>
  <% end %>

</div>