<% @candidates.each do |contest, candidates| %>

	<h1><%= Race.find(contest).name %></h1>

	<table class="table ">

		<th>Name</th>
		<th>Picture</th>
		<th>My Comments</th>
		
		<% candidates.each do |candidate| %>
			<tr>

				<td>
					<ul class="booth_list">
						<li><h3><%= link_to candidate.full_name, candidate, :class => "modal_trigger", :remote => :true %></h3></li>
						<% if candidate.website %><li>Candidate Website</li><% end %>
					</ul>
				</td>

				<td><%= display_portrait candidate %></td>
				<td>My Comments</td>
			</tr>
		<% end %>

	</table>

<% end %>