<% content_for :leftColumn do %>
<h1>New Official</h1>




<% end %>


<% content_for :middleColumn do %>

<%= render 'form' %>


<% end %>


<% content_for :rightColumn do %>

<%= link_to 'Back', officials_path %>

<% end %>