<header id="contests-show">


  <div class="row">
    <h5 id="print_button" class="span3 offset9"><%=  link_to "Download Printable Version (PDF)", race_path(@race, format: "pdf") %></h5>
  </div>

</header>


