<% content_for :leftColumn do %>

    <% for race in @races %>
        <div class="span-6 padding-left-20"><%= link_to race.name, race %></div>
    <% end %>

<% end %>


<% content_for :middleColumn do %>

    <div class="padding-left-20" style="padding-top: 5px;">
        <%= image_tag "Demo Page.png" %>
    </div>
      

<% end %>

