<% content_for :leftColumn do %>
    <% for race in @races %>
        <div class="button span-4"><%= link_to race.name, race %></div>
    <% end %>
<% end %>


<% content_for :middleColumn do %>
    <h1>Welcome to Durham Votes</h1>
    <h3>Pick the contest that you would like to learn about above.</h3>
<% end %>

