<% content_for :nav_status do %>
  <p>  Click Here to Begin</p>
<% end %>

<% content_for :middleColumn do %>

    <div id="intro_line" class="prepend-2">

       <h1>
         As a Durham Resident, <br>
         perform your civic duty in three easy steps!
       </h1>

    </div>


    <div id="homepage_steps" class="prepend-2">
        <%=   image_tag "homepage-steps.png" %>
    </div>
      

<% end %>

