

<% content_for :middleColumn do %>

    <div id="intro_line" class="prepend-1">

       <h1>
         As a Durham Resident, <br>
         perform your civic duty in three easy steps!
       </h1>

    </div>


    <div id="homepage_steps" class="prepend-1">
        <%=   image_tag "homepage-steps.png" %>
    </div>
      

<% end %>

