<%= render 'contests_show_header' %>

<div id="compare" class="row">

	<div id="compare_left_arrow" class="span1">
	 <%= link_to image_tag("arrow-left.png"), params.merge(page: @candidates.previous_page) %>
	</div>

	<% @candidates.each do |candidate| %>
		 <%= render :partial => 'races/candidate_abbreviated_show', :locals => { :candidate => candidate} %>
	<% end %>

	<div id="compare_right_arrow" class="span1">
		<%= link_to image_tag("arrow-right.png"), params.merge(page: @candidates.next_page) %>
	</div>

</div>
