$red: #800000;
$yellow: #d3a414;

$background_gray: #eeefea;
$runner_gray: #2e2e2e;
$runner_cream: #d3d0be;

$fontwhite: #f9f9f9;
$blue: #012646;

header#main-layout {
  background: $runner_gray;
/*border-bottom: 25px $runner_cream solid;*/

  #header_image{

  }

  #constituent-info{
    color: white;
  }
}