<div class="row">
  <h1 class="span6">Your Elevote Booth</h1>



  <% if current_user %>

    <section id="user-info" class="pull-right">
    <%=  current_user.name %>

    <%=  current_user.email %>

    <%= image_tag(current_user.image_url) %>
    </section>

  <% end %>
</div>

<%= render 'candidates/candidates_in_booth' %>

