<% content_for :middleColumn do %>

<h1>Legislations</h1>


<% @legislations.each do |legislation| %>
    <h2><%= link_to legislation.name, legislation %></h2>
<% end %>




<% end %>


<%= content_for :rightColumn do %>

    <div class="button">
         <%= link_to 'Make New Legislation', new_legislation_path %>
    </div>
<% end  %>