<% content_for :middleColumn do %>

<h1>Legislations</h1>


<% @legislations.each do |legislation| %>



    <div class="span-4">

        <%= pluralize legislation.votes.count, 'vote', 'votes' %>
    </div>

    <div class="span-10 last">
        <%= link_to legislation.name, legislation %>
    </div>

<% end %>




<% end %>


<%= content_for :rightColumn do %>

    <div class="button">
         <%= link_to 'Make New Legislation', new_legislation_path %>
    </div>
<% end  %>