<% content_for :middleColumn do %>

<h1>Outcomes</h1>


<% @legislations.each do |legislation| %>



    <div class="span-4">

        <%= pluralize legislation.endorsements.count, 'endorsement', 'endorsements' %>
    </div>

    <div class="span-10 last">
        <%= link_to legislation.name, legislation %>
    </div>

<% end %>




<% end %>


<%= content_for :rightColumn do %>

    

    
    <div class="button">
         <%= link_to 'Make New Outcome', new_legislation_path %>
    </div>
<% end  %>