<header id="main-layout">
  <div class="container">
    <div class="row">
        <%= render "layouts/header/banner" %>

        <% if current_candidate %>
          <%= render "layouts/header/logged_in_candidate" %>
        <% else %>
          <%= render "layouts/header/user" %>
        <% end %>
    </div>
  </div>

</header>

