<p id="notice"><%= notice %></p>

<p>
  <b>endorsementable:</b>
  <%= @endorsement.endorsementable_id %>
</p>


<%= link_to 'Edit', edit_endorsement_path(@endorsement) %> |
<%= link_to 'Back', endorsements_path %>
