/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


$red: #800000;
$yellow: #cb9012;
$gray: #3f392d;
$fontwhite: #f9f9f9;


#bodycss {
    background: $fontwhite;

}

#nav {
    float: left;
    background-color: #e6e6fa;

}




#main {
    float: left;
}

#header {
    padding-top: 10px;
    padding-left: 5px;
    text-align: center;
    height: 50px;
    background-color: $gray;
}


#footer {
    border: $gray 1px solid;

}

/*Politician Show Page*/

/*Left Column*/
#leftColumn{
    height: 400px;
    border-top: $gray 1px solid;
    border-right: $gray 1px solid;
}

#politicianPortrait{
    height: 190px;
    background-color: #d3d3d3;
}


/*Middle Column*/

#middleColumn {
    height: 400px;

}

#rightColumn {
    height: 400px;
    border-left: $gray 1px solid;
    border-top: $gray 1px solid;
}



/*New Classes*/

