$red: #800000;
$yellow: #d3a414;
$gray: #2d2d2c;
$fontwhite: #f9f9f9;
$blue: #012646;



#modal {
  border-top: 10px solid $yellow;
  
  p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
}


#modal #left_column{
  height:640px;


  .modal_candidate_name{
    font-size: 30px;
  }

  #modal_facebook_like{
    height: 60px;
  }



  ul {
    list-style: none;

    li {

      border-bottom: 1px gray solid;

      a{
        text-align: left;
        text-decoration: none;
        font-size: 22px;
        color: black;
      }
    }
  }

}


#modal #middle_column{
  height:640px;
}



#modal #right_column{
  height:640px;
}