$red: #800000;
$yellow: #d3a414;

$background_gray: #eeefea;
$runner_gray: #2e2e2e;
$runner_cream: #d3d0be;

$fontwhite: #f9f9f9;
$blue: #012646;



#candidate_show_container{
  margin: 10px auto;


  p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0px;
  }

  a{
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
}


#left_column{
  height:640px;


  .modal_candidate_name{
    font-size: 54px;
    height: 130px;
  }


  #facebook_box{

  }



  ul {
    list-style: none;

    li {

      border-bottom: 1px gray solid;

      a {
        text-align: left;
        text-decoration: none;
        font-size: 22px;
        color: black;
        font-family: 'Yanone Kaffeesatz', sans-serif;
      }


    }

    .final_li{
      border-bottom: none;
    }

    .contact_info{
      font-size: 18px;
      color: #d3d3d3;
    }

  }


  .modal_candidate_portrait{
    text-align: center;
  }

}


#middle_column{
  height:640px;

  .subtitle{
    height: 90px;
    font-size: 36px;
    margin: 0px

  }
  #div_for_right_line{
    height:440px;
    margin-top: 30px;

    border-right: 2px gray solid;
  }

}

#right_column{
  height:640px;
}