<div style="text-align: center;">
  <h1>Select Your City to Begin</h1>
  <%= form_tag(races_path, :method => "get") do  %>
  <%= select_tag "site_id", options_from_collection_for_select(@sites, "id", "name") %>
  <br>
  <%= submit_tag "Select This City", :class => "btn" %>
  <% end %>
</div>


