<%= content_for :middleColumn do %>
    <br>
    <h3 class="span-29 last">
      This non-partisan project's goal is to improve the democratic process in Durham.<br><br>  The project is owned and operated by
      a Durham resident and constituent.<br><br>  For information, questions, comments, or feedback please e-mail
      Michael@GeneralPolitics.org.  </h3>

    <br>


<% end %>