<div class="row">
	<section id="candidate-signup" class="span6">
		<h1>Sign-Up</h1>
		<%=  render 'candidates/form' %>
	</section>
	
	<section id="candidate-login" class="span6">
    <h1>Log-In</h1>
    <% if session[:candidate] %>
        <%= link_to "Candidate Log Out", "/signout" %>
        <%= link_to "Edit My Info", edit_official_path(session[:candidate]) %>
    <% else %>
        <%= render 'candidates/login_form' %>
    <% end %>
	</section>

</div>


<div class="row"></div>
