<%= content_for :middleColumn do %>
    <br>
    <h3>
      This project's goal is to improve the democratic process in Durham.  The project is owned and operated by
      a Durham resident and your constituent.  For information about how to sign-up and claim your space, please e-mail
      Michael@GeneralPolitics.org.  </h3>



<% end %>